body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #CDCDCD;
}

nav ul {
    text-align: center;
    margin: 0;
    padding: 20px;
}

nav li {
    display: inline-block;
}

nav li a {
    text-decoration: none;
    padding: 10px;
    color: #008E00;
    font-size: 20px;
}

nav li a:hover {
    color: white;
    background-color: #008E00;
    border-radius: 10px;
}